.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Add space between cards */
    margin-top: 50px;
  height: 80vh;
  }
  
  .imagess {
    height: 20rem;
    width: 20rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .devname
  {
    text-align: center;
    font-size: 1.5rem;
  }

  .devinfo
  {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.85rem;
    font-weight: 400;
  }
  .carditis{
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;;
  }
 
  .carditis i{
    font-size: 1.5rem;
    margin-left: 5px;
    padding-bottom: 10px;
    cursor: pointer;
  }

