/* src/components/PostTile.css */
.post-tile {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.post-tile-image {
    width: 100%;
    height: 300px;
    object-fit:cover; /* or use 'contain' if you want the entire image to be visible */
}

.post-tile-content {
    padding: 16px;
    flex: 1; /* This ensures the content area grows to fill the remaining space */
}

.post-tile-title {
    margin: 0 0 8px;
    font-size: 1.25em;
}

.post-tile-text {
    margin: 0;
    font-size: 1em;
    color: #555;
}
